@using SimpleCrm.Web.Controllers
@model SimpleCrm.Customer
@{
    ViewBag.Title = Model.LastName;
}

<h1>@Model.LastName</h1>

<div>..details here</div>

<div>
    @Html.ActionLink("Back", nameof(HomeController.Index))
</div>