<mat-dialog-content>
  <form [formGroup]="detailForm" novalidate>
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone Number" formControlName="phoneNumber" name="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="emailAddress" name="emailAddress">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Contact Method" formControlName="preferredContactMethod" name="preferredContactMethod">
        <mat-option value="email">Email</mat-option>
        <mat-option value="phone">Phone</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button (click)="save()" color="accent">Save</button>
</mat-dialog-actions>
